.oops-container {

	background: url(images/404.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;

  		.oopsies {
  			padding: 50px 0 50px;
  		}

		.oopsiesContent {
			width: 70%;
				@media screen and (max-width: 575px) {
					  		width: 90%;
					  }
			background-color: rgba(255,255,255,0.7);
			margin: 0 auto;
			padding: 20px 40px 10px 40px;
			height: auto;
			border: 10px solid rgba(255,255,255,0.7);
		}

  		h1 {
		text-transform: uppercase;
		font-family: 'Oswald';
		font-weight: 400;
		letter-spacing: 10px;
		// padding: 15px;
		color: grey;
	}

		p {
		text-transform: uppercase;
		color: grey;
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 20px;
		letter-spacing: 4px;
		// padding: 15px;
	}
	.search {
		padding: 0 0 50px;
		width: 100%;
		margin: 0 auto;
			
			input[type="search"] {
				padding: 10px;
				margin: 20px auto;
				width: 75%;
				border: 1px solid lightgrey;
				font-family: 'Oswald';
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 3px;
			}

			.searchsubmit {
				background: RGBA(146, 177, 92, .7);
				color: white;
				font-size: 20px;
				font-family: 'Oswald';
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 3px;
				border: 2px solid RGBA(146, 177, 92, 1);
				padding: 10px 40px;
				width: 250px;
				text-align: center;
				display: block;
						&:hover {
							background: RGBA(146, 177, 92, 1);
						}
						@media screen and (max-width: 580px) {
					  		width: 75%;
					  }
				
			}
	}
}

