.main-contact {

	background: url(images/image6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
}

.contact-content {
	padding: 30px;
}

form.mail {
	width: 70%;
		@media screen and (max-width: 575px) {
					  		width: 90%;
					  }
	// background-color: rgba(255,255,255,0.2);
	background-color: rgba(0,0,0,0.1);
	margin: 0 auto;
	padding: 20px 40px 10px 40px;
	height: auto;
	// border: 2px solid white;
	border: 10px solid rgba(255,255,255,0.7);
}

form h2 {
	text-align: center;
	color: white;
}

input.username, input.email {
	width: 47%;
	padding: 10px;
	// border: 1px solid lightgrey;
	border: none;
	font-size: 16px;
	margin: 5px .5% 5px 1.5%;
	@media screen and (max-width: 575px) {
					  		width: 95%;
					  }
	font-family: 'Oswald';
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 3px;
}

textarea.bio {

	width: 97%;
	max-width: 97%;
	height: 100px;
    max-height: 150px;
	margin: 5px 1.5% 0 ;
	border: none;
	padding: 10px; 
	font-family: 'Oswald';
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 3px;

}

input.submitButton {
	background: RGBA(146, 177, 92, .7);
	width: 250px;
	color: white;
	font-size: 20px;
	font-family: 'Oswald';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	border: 2px solid white;
	padding: 10px;
	margin: 30px auto 30px;
	display: block;
	text-align: center;
		@media screen and (max-width: 575px) {
					  		width: 95%;
					  }
}
input[type=submit].submitButton {
	color: white;
}

input.submitButton:hover {
	background: RGBA(146, 177, 92, 1);
}

input:focus, textarea:focus {
	box-shadow: 0 0 20px RGBA(146, 177, 92, 1);
	outline:0;
}