.mainFooter {
	border-top: 1px solid lightgrey;
	padding-bottom: 20px;
}

.social {
	text-align: center;
	i {
		margin: 0 25px;
		font-size: 25px;
		color: grey;
	}
	padding-top: 20px;
} 

.copyright, .mainFooter p {
	text-align: center;
	color: grey;
	font-family: 'Oswald';
	text-transform: uppercase;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 4px;	
	margin-top: 20px;
	a {
		color: grey;
		background-color: lightgrey;
		padding: 2px 5px;
		&:hover {
			color: #000;
		}
	}
}