.header {
	background-image: url(http://www.freestockphotos.name/wallpaper-original/wallpapers/coffee-cups-brown-cappuccino-wallpaper-6372.jpg);
	background-size: cover;
	width: 1200px;
	height: 100vh;
}

.header h1 {
	left: 50%;
}