.header {
	background-image: url(http://www.freestockphotos.name/wallpaper-original/wallpapers/coffee-cups-brown-cappuccino-wallpaper-6372.jpg);
	background-size: cover;
	width: 1200px;
	height: 100vh;
	position: absolute;
}

.header h1 {
	position: relative;
	left: 500px;
}