.menuHeader {
	background-image: url(images/salad1280.jpg);
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;

	h1 {
		position: relative;
		max-width: 400px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Oswald';
        font-weight: 400;
        letter-spacing: 10px;
        padding: 15px;
        background-color: rgba(255,255,255,0.1);
        color: #fff;
        margin: 0 auto;
        top: 250px;
	}
}


.menuTextContainer {
	height: 200px;
	padding: 50px 0;
}

.menuColumn img {
	width: 200px;
	height: 200px;	
}

.menuColumn {
	float: left;
	width: 33%;
	text-align: center;
}

.menuColumn p {
	width: 90%;
	padding-left: 10%
}

.menuColumnContainer {
	margin-bottom: 50px;
}

.menuImageBanner {
	background-image: url(../images/cinammonBun400.jpg);
}

.bakeryColumn, .coffeeColumn p {
	width: 80%;
}

p {
    font-family: 'Karla';
    font-size: 14px;
    letter-spacing: 1px;
    color: grey;
}

nav ul {
   font-family: 'Oswald';
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 4px;
}