.menuHeader {
	background-image: url(images/salad1280.jpg);
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;

	h1 {
		max-width: 60%;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Oswald';
        position: relative;
        top: 35%;
        font-weight: 400;
        font-size: 45px;
        letter-spacing: 10px;
        padding: 15px;
        background-color: rgba(0,0,0,0.1);
        border: 10px solid rgba(255,255,255,0.6);
        margin: 0 auto;
        color: #fff;
	}
}


.menuTextContainer {
	height: 200px;
	padding: 50px 0;
}

.foodColumn img {
	width: 200px;
	height: 200px;	
}

.foodColumn {
	float: left;
	width: 33%;
	text-align: center;
}

.foodColumn p {
	width: 90%;
	padding-left: 10%
}

.foodColumnContainer {
	padding-bottom: 50px;
}

.menuBannerImage {
	background-image: url(images/cinammonBun400.jpg);
	background-size: cover;
	height: 400px;
	background-attachment: fixed;
	
	h2 {
		text-align: center;
		top: 150px;
		position: relative;
		max-width: 400px;
	    text-transform: uppercase;
	    text-align: center;
	    font-family: 'Oswald';
	    font-weight: 400;
	    padding: 15px;
	    background-color: rgba(0,0,0,0.1);
	    color: #fff;
	    margin: 0 auto;
	   
	}
}

.pastryColumn {

}

p {
    font-family: 'Karla';
    font-size: 14px;
    letter-spacing: 1px;
    color: grey;
}

nav ul {
   font-family: 'Oswald';
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 4px;
}